.about-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 125px 20px; /* Ajuste para garantir espaçamento adequado */
  box-sizing: border-box;
  margin-top: 100px;
}

.about-item {
  display: flex;
  flex-wrap: wrap; /* Permite que os itens se ajustem em várias linhas se necessário */
  justify-content: space-between;
  margin-bottom: 40px; /* Espaçamento entre os blocos */
}

.content {
  flex: 1;
  max-width: 60%;
  text-align: justify;
  padding-right: 20px;
}

.content h2 {
  font-size: 1.8rem;
  color: #00c2c6;
  margin-bottom: 20px;
}

.content h2 span {
  color: #00c2c6;
  margin-right: 10px;
}

.content p {
  font-size: 1.09rem;
  line-height: 1.6;
  margin-bottom: 15px;
  color: #d3d3d3;
}

.content p a {
  color: #00c2c6;
  text-decoration: none;
}

.image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}
