<section class="about-section">
  <div class="about-item">
    <div class="content">
      <h2><span>.</span> Sobre a Empresa</h2>
      <p>Desde a nossa fundação, temos sido movidos pela missão de transformar a gestão de frotas em um processo mais eficiente e transparente. A ideia de criar um sistema de relatórios de frota surgiu da nossa experiência pessoal com a complexidade e os desafios da administração de veículos. Observamos como empresas enfrentavam dificuldades com a falta de informações precisas e em tempo real sobre suas frotas, resultando em custos elevados e operações ineficazes.</p>
      <p>Foi então que decidimos agir. Nossa equipe se uniu para desenvolver uma solução inovadora que não apenas fornece relatórios detalhados sobre o desempenho da frota, mas também oferece uma visão estratégica para otimizar cada aspecto da gestão veicular. Combinando tecnologia de ponta com um design intuitivo, criamos uma plataforma que simplifica a coleta e a análise de dados, permitindo que nossos clientes tomem decisões mais informadas e proativas.</p>
      <p>Nossa missão é transformar a gestão de frotas em uma vantagem competitiva. Estamos comprometidos com a excelência e a inovação, e constantemente aprimoramos nossas ferramentas e funcionalidades para atender às necessidades dinâmicas de nossos clientes e acompanhar as tendências emergentes do setor.</p>
      <p>Junte-se a nós nessa jornada e descubra como nossos relatórios de frota podem transformar a sua operação, trazendo mais eficiência e sucesso para o seu negócio.</p>
    </div>

    <div class="image">
      <img src="https://www.especialesaloha.com/archivos/imagenes/jpg/32/32a1072c.jpg" alt="Profile Image">
    </div>
  </div>

  <div class="about-item">
    <div class="content2">
      <h2><span>.</span> Origem da Ideia</h2>
      <p>A ideia de criar um sistema de relatórios de frota surgiu da nossa experiência pessoal com a complexidade e os desafios da administração de veículos. Observamos como empresas enfrentavam dificuldades com a falta de informações precisas e em tempo real sobre suas frotas, resultando em custos elevados e operações ineficazes.</p>
      <p>Foi então que decidimos agir. Nossa equipe se uniu para desenvolver uma solução inovadora que não apenas fornece relatórios detalhados sobre o desempenho da frota, mas também oferece uma visão estratégica para otimizar cada aspecto da gestão veicular.</p>
      <p>Combinando tecnologia de ponta com um design intuitivo, criamos uma plataforma que simplifica a coleta e a análise de dados, permitindo que nossos clientes tomem decisões mais informadas e proativas. Nossa missão é transformar a gestão de frotas em uma vantagem competitiva.</p>
      <p>Estamos comprometidos com a excelência e a inovação, e constantemente aprimoramos nossas ferramentas e funcionalidades para atender às necessidades dinâmicas de nossos clientes e acompanhar as tendências emergentes do setor. Junte-se a nós nessa jornada e descubra como nossos relatórios de frota podem transformar a sua operação, trazendo mais eficiência e sucesso para o seu negócio.</p>
    </div>
  <div class="image2">
      <img src="https://media.discordapp.net/attachments/1249126230897459211/1278916797717938286/onibus3.jpg?ex=66d28b95&is=66d13a15&hm=a996384d34a6f30991ed5661bb60c3aac3f8b37ea520af39b1716ef43bb8c163&=&format=webp&width=720&height=480" alt="Profile Image">
    </div>
  </div>

  <div class="about-item">
    <div class="content4">
      <h2><span>.</span> Nosso Compromisso</h2>
      <p>Desde a nossa fundação, temos sido movidos pela missão de transformar a gestão de frotas em um processo mais eficiente e transparente. A ideia de criar um sistema de relatórios de frota surgiu da nossa experiência pessoal com a complexidade e os desafios da administração de veículos. Observamos como empresas enfrentavam dificuldades com a falta de informações precisas e em tempo real sobre suas frotas, resultando em custos elevados e operações ineficazes.</p>
      <p>Foi então que decidimos agir. Nossa equipe se uniu para desenvolver uma solução inovadora que não apenas fornece relatórios detalhados sobre o desempenho da frota, mas também oferece uma visão estratégica para otimizar cada aspecto da gestão veicular.</p>

      <p>Combinando tecnologia de ponta com um design intuitivo, criamos uma plataforma que simplifica a coleta e a análise de dados, permitindo que nossos clientes tomem decisões mais informadas e proativas.</p>
      <p>Nossa missão é transformar a gestão de frotas em uma vantagem competitiva. Estamos comprometidos com a excelência e a inovação, e constantemente aprimoramos nossas ferramentas e funcionalidades para atender às necessidades dinâmicas de nossos clientes e acompanhar as tendências emergentes do setor.</p>
      <p>Junte-se a nós nessa jornada e descubra como nossos relatórios de frota podem transformar a sua operação, trazendo mais eficiência e sucesso para o seu negócio.</p>
    </div>

    <div class="image4">
      <img src="https://cdn.discordapp.com/attachments/1249126230897459211/1278916864587600002/two-men-shaking-hands.jpg?ex=66d28ba5&is=66d13a25&hm=ff773f4c5b1315d6cf69869288a10e517c4e375dec5dba37478a152dd5787594&" alt="Profile Image">
    </div>
  </div>
</section>
